body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px; /* Adjust the width as needed */
}

.parent h2 {
  color: #007bff;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.child {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%; /* Make the child view full width */
}

.child h2 {
  color: #28a745;
}
